

* {
    box-sizing: border-box;
}
body {
    background-color: #1b834f;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.wrp {
    height: 100vh;
}
.wrp svg {
    height: 100%;
    width: 100%;
}
.wrp svg * {
    transform-origin: center;
    transform-box: fill-box;
}
.wrp svg .swet, .wrp svg .debre, .wrp svg .flash, .wrp svg #paper1 {
    opacity: 0;
}


#img_parent{
    position: fixed;
    width: 10%;
    left: 2%;
}

#img_item{
    height: 100%;
    width: 100%;
}

#img_parent_cesta{
    width: 15%;
    position: fixed;
    bottom: 0;
    left: 2%;
}

#img_cesta{
    height: 100%;
    width: 100%;
}

#img_parent_mochila{
    width: 15%;
    position: fixed;
    bottom: 35%;
    left: 80%;
}

#img_mochila{
    height: 100%;
    width: 100%;
}



.desc{
    margin: 0;
    position: relative;
    left: 50%;
}

#chart-p0{
    width: 15%;
    position: fixed;
    bottom: 65%;
    left: 80%;
}

#chart-p1{
    width: 15%;
    position: fixed;
    bottom: 13%;
    left: 20%;
}

#maxP{
    position: fixed;
    bottom: 30%;
    left: 82%;
}


.wrapper {
    height: 80vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    border: 1px solid blue;
    background-color: lightblue;
    color: #444;
  }
  
  .ball {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: calc(50% - 100px);
    background-color: darkblue;
    border-radius: 50%;
  }


#grid{
    position: fixed;
    width: 70%;
    left: 25%;
    bottom: 5%;
}